{
  "twitter": {
    "CONSUMER_KEY": "",
    "CONSUMER_SECRET": "",
    "ACCESS_TOKEN": "",
    "ACCESS_SECRET": ""
  },
  "twilio": {
    "ACCOUNT_SID": "",
    "AUTH_TOKEN": ""
  },
  "phone_number": "",
  "search_terms": [""],
  "usb_port": "/dev/tty.usbserial",
  "model_path": "pretrained_shakespeare",
  "length" : "500",
  "temperature" : "1.0",
  "working_path": "./tensorflow-char-rnn"
}
